
@{

}


<h4>Invoice Details</h4>


<table>

    @foreach (var inv in ViewBag.InvList)
    {
        <tr>
            <td>
                @inv.FaturaNo
            </td>

        </tr>
    }

</table>
<br />
<a href="/Invoice/Index"> Bir önceki sayfaya geri dön</a>


